<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    </configSections>
    <log4net>
        <!--日志配置-->
        <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
            <param name="File" value="SystemLog/" />
            <param name="AppendToFile" value="true" />
            <param name="MaxFileSize" value="10240" />
            <param name="MaxSizeRollBackups" value="100" />
            <param name="StaticLogFileName" value="false" />
            <param name="DatePattern" value="yyyyMMdd.TXT" />
            <param name="RollingStyle" value="Date" />
            <layout type="log4net.Layout.PatternLayout">
                <param name="ConversionPattern" value="%n%n++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++%n日志时间：%d [%t] %n日志级别：%-5p %n日 志 类：%c [%x] %n描    述：%m %n" />
            </layout>
        </appender>
        <logger name="logerror">
            <level value="ERROR" />
            <appender-ref ref="ErrorAppender" />
        </logger>
        <logger name="loginfo">
            <level value="INFO" />
            <appender-ref ref="InfoAppender" />
        </logger>
        <logger name="logtime">
            <level value="INFO" />
            <appender-ref ref="TimeAppender" />
        </logger>
        <root>
            <level value="INFO" />
            <appender-ref ref="InfoAppender" />
        </root>
    </log4net>
</configuration>
